.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 8vh;
  padding: 20px;
  color: white;
}

.Body-Container {
  height: 80vh;
  padding: 20px;
  border-width: 5px;
}

.Display{
  display: flex;
  flex-direction: column;
}

.Maps{
  background-color:red;
  height:80vh;
  width:100vw;
  padding-left: 0;
  margin-left: -20px;
}
.TempContainer{
  border-width: 5px;
  height:80vh;
  width:70vw;
  position: absolute;
  z-index: 1;
  margin-left: -20px;
}
.Jobs{
  border-width: 5px;
  height:80vh;
  width:35vw;
  position: absolute;
  z-index: 1;
  margin-left: -20px;

}

.Details{
  display: flex;
  float: right;
  background-color: blue;
  border-width: 5px;
  height:80vh;
  width:36vw;
  position: relative;;
  z-index: 1;
}

.Jobitem{
  position: absolute;
  z-index: 1;
  background-color: #FAFAFA;
  overflow: scroll;
  height:80vh;
  width:35vw;
}

.Jobitems{
  border-style: solid;
  border-width: 0.2px;
  border-color: #CCCCCC;
}
